<div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、文本、页脚布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-flex" style="align-content: center; overflow-y: auto!important; flex-wrap: wrap;">
          <div class="mr-1 ml-1">
            <img src="img/avatars/1.jpg" class="width-84">
            <div><strong>黑夜使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
          <div class="mr-1 ml-1">
            <img src="img/avatars/2.jpg" class="width-84">
            <div><strong>黑暗使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
          <div class="mr-1 ml-1">
            <img src="img/avatars/3.jpg" class="width-84">
            <div><strong>光明使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
          <div class="mr-1 ml-1">
            <img src="img/avatars/4.jpg" class="width-84">
            <div><strong>黑暗使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
          <div class="mr-1 ml-1">
            <img src="img/avatars/5.jpg" class="width-84">
            <div><strong>光明使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
          <div class="mr-1 ml-1">
            <img src="img/avatars/6.jpg" class="width-84">
            <div><strong>光明使者</strong></div>
            <div class="font-10">
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">★</button>
              <button class="rating-star text-warning">☆</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageTextFooter" class="full-width" readonly>
<div class="mr-1 ml-1">
  <img src="img/avatars/2.jpg" class="width-84">
  <div><strong>黑暗使者</strong></div>
  <div class="font-10">
    <button class="rating-star text-warning">★</button>
    <button class="rating-star text-warning">★</button>
    <button class="rating-star text-warning">★</button>
    <button class="rating-star text-warning">★</button>
    <button class="rating-star text-warning">☆</button>
  </div>
</div>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、标签、文本布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-flex" style="align-content: center; overflow-y: auto!important; flex-wrap: wrap;">
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <div class="ribbon-vertical-danger" style="left: 32px; top: 30px;"></div>
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">1387</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>销售、供货、维保合同</div>
            </div>
          </div>
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">1387</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>劳动合同</div>
            </div>
          </div>
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">1387</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>采购合同</div>
            </div>
          </div>
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">1387</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>租房合同</div>
            </div>
          </div>
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">87</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>物业合同</div>
            </div>
          </div>
          <div class="mr-1 ml-1 pointer text-success width-100 text-center">
            <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">123</span>
            <div class="full-width">
              <img class="ml-auto mr-auto" src="img/64/folder.png">
              <div>保险合同</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageBadgeText" class="full-width" readonly>
<div class="mr-1 ml-1 pointer text-success width-100 text-center">
  <div class="ribbon-vertical-danger" style="left: 32px; top: 30px;"></div>
  <span class="badge badge-success position-relative" style="right: -24px; top: 24px;">1387</span>
  <div class="full-width">
    <img class="ml-auto mr-auto" src="img/64/folder.png">
    <div>销售、供货、维保合同</div>
  </div>
</div>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageTextFooter]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  height: '100%',
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 128);
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageBadgeText]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  height: '100%',
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 100);
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageTwoLineFloat]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  height: '100%',
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 196);
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageThreeLineFloat]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  height: '218px',
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 218);
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageSummary]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 349);
codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageSummaryFooter]'), {
  mode: 'xml',
  lineNumbers: true,
  editable: false,
  tabSize: 2,
  background: '#565656'
});
codeview.setSize('100%', 349);
</script>