<div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>左边、两行布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <div class="pl-2" style="border-color: rgb(229, 83, 83); border-left: 4px solid rgb(229, 83, 83);">
                <div>服务未运行</div>
                <div class="small text-muted">23:00:00</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <div class="pl-2" style="border-color: rgb(229, 83, 83); border-left: 4px solid rgb(229, 83, 83);">
                <div>服务未运行</div>
                <div class="small text-muted">23:00:00</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <div class="pl-2" style="border-color: rgb(51, 153, 255); border-left: 4px solid rgb(51, 153, 255);">
                <div>服务未运行</div>
                <div class="small text-muted">23:00:00</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextBorderTwoLine" class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; display: flex; align-items: center;">
  <div class="pl-2" style="border-color: rgb(229, 83, 83); border-left: 4px solid rgb(229, 83, 83);">
    <div>服务未运行</div>
    <div class="small text-muted">23:00:00</div>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、两行布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/1.jpg">
              <div class="pl-2">
                <strong>乔安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/2.jpg">
              <div class="pl-2">
                <strong>戴安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/3.jpg">
              <div class="pl-2">
                <strong>蒂安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageTwoLine" class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; display: flex; align-items: center;">
  <img class="avatar" src="img/avatars/1.jpg">
  <div class="pl-2">
    <strong>蒂安娜</strong>
    <div class="small text-muted">上次登录：23:00:00</div>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、两行、右侧布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/1.jpg">
              <div class="pl-2">
                <strong>乔安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/2.jpg">
              <div class="pl-2">
                <strong>戴安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/3.jpg">
              <div class="pl-2">
                <strong>蒂安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageTwoLineFloat"  class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; display: flex; align-items: center;">
  <img class="avatar" src="img/avatars/1.jpg">
  <div class="pl-2">
    <strong>蒂安娜</strong>
    <div class="small text-muted">上次登录：23:00:00</div>
  </div>
  <div style="margin-left: auto;">
    <i class="fas fa-arrow-right"></i>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、三行、右侧布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/1.jpg">
              <div class="pl-2">
                <strong>乔安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
                <div class="font-10">
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">☆</button>
                </div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/2.jpg">
              <div class="pl-2">
                <strong>戴安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
                <div class="font-10">
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">☆</button>
                </div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar" src="img/avatars/3.jpg">
              <div class="pl-2">
                <strong>蒂安娜</strong>
                <div class="small text-muted">上次登录：23:00:00</div>
                <div class="font-10">
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">★</button>
                  <button class="rating-star text-warning">☆</button>
                </div>
              </div>
              <div style="margin-left: auto;">
                <i class="fas fa-arrow-right"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageThreeLineFloat" class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; display: flex; align-items: center;">
  <img class="avatar" src="img/avatars/3.jpg">
  <div class="pl-2">
    <strong>蒂安娜</strong>
    <div class="small text-muted">上次登录：23:00:00</div>
    <div class="font-10">
      <button class="rating-star text-warning">★</button>
      <button class="rating-star text-warning">★</button>
      <button class="rating-star text-warning">★</button>
      <button class="rating-star text-warning">★</button>
      <button class="rating-star text-warning">☆</button>
    </div>
  </div>
  <div style="margin-left: auto;">
    <i class="fas fa-arrow-right"></i>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、概要布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar circle-64" src="img/avatars/1.jpg">
              <div class="pl-2 full-width">
                <div>
                  <strong>乔安娜</strong>
                  <span class="float-right">1999-12-12</span>
                </div>
                <div class="small text-muted">
                  安娜乐队主唱，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                </div>
                <div class="d-flex">
                  <div>
                    <i class="fas fa-fan mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-credit-card mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-user-friends mr-1"></i>1024
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar circle-64" src="img/avatars/2.jpg">
              <div class="pl-2 full-width">
                <div>
                  <strong>戴安娜</strong>
                  <span class="float-right">1999-12-12</span>
                </div>
                <div class="small text-muted">
                  安娜乐队吉他手，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                </div>
                <div class="d-flex">
                  <div>
                    <i class="fas fa-fan mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-credit-card mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-user-friends mr-1"></i>1024
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; display: flex; align-items: center;">
              <img class="avatar circle-64" src="img/avatars/3.jpg">
              <div class="pl-2 full-width">
                <div>
                  <strong>蒂安娜</strong>
                  <span class="float-right">1999-12-12</span>
                </div>
                <div class="small text-muted">
                  安娜乐队贝斯手，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                </div>
                <div class="d-flex">
                  <div>
                    <i class="fas fa-fan mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-credit-card mr-1"></i>1024
                  </div>
                  <div class="ml-auto">
                    <i class="fas fa-user-friends mr-1"></i>1024
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageSummary" class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; display: flex; align-items: center;">
  <img class="avatar circle-64" src="img/avatars/3.jpg">
  <div class="pl-2 full-width">
    <div>
      <strong>蒂安娜</strong>
      <span class="float-right">1999-12-12</span>
    </div>
    <div class="small text-muted">安娜乐队贝斯手，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷。</div>
    <div class="d-flex">
      <div>
        <i class="fas fa-fan mr-1"></i>1024
      </div>
      <div class="ml-auto">
        <i class="fas fa-user-friends mr-1"></i>1024
      </div>
    </div>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i>
      <strong>图片、概要、页脚布局</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; align-items: center;">
              <div class="d-flex full-width">
                <img class="avatar circle-64" src="img/avatars/1.jpg">
                <div class="pl-2 full-width">
                  <div>
                    <strong>乔安娜</strong>
                    <span class="float-right">1999-12-12</span>
                  </div>
                  <div class="small text-muted">
                    安娜乐队主唱，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                  </div>
                </div>
              </div>
              <div class="d-flex full-width">
                <div>
                  <i class="fas fa-fan mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-credit-card mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-user-friends mr-1"></i>1024
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; align-items: center;">
              <div class="d-flex">
                <img class="avatar circle-64" src="img/avatars/2.jpg">
                <div class="pl-2 full-width">
                  <div>
                    <strong>戴安娜</strong>
                    <span class="float-right">1999-12-12</span>
                  </div>
                  <div class="small text-muted">
                    安娜乐队吉他手，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <i class="fas fa-fan mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-credit-card mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-user-friends mr-1"></i>1024
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action"
                style="padding: 8px 16px; align-items: center;">
              <div class="d-flex">
                <img class="avatar circle-64" src="img/avatars/3.jpg">
                <div class="pl-2 full-width">
                  <div>
                    <strong>蒂安娜</strong>
                    <span class="float-right">1999-12-12</span>
                  </div>
                  <div class="small text-muted">
                    安娜乐队贝斯手，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <i class="fas fa-fan mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-credit-card mr-1"></i>1024
                </div>
                <div class="ml-auto">
                  <i class="fas fa-user-friends mr-1"></i>1024
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <textarea name="longtextImageSummaryFooter" class="full-width" readonly>
<li class="list-group-item list-group-item-action"
    style="padding: 8px 16px; align-items: center;">
  <div class="d-flex full-width">
    <img class="avatar circle-64" src="img/avatars/1.jpg">
    <div class="pl-2 full-width">
      <div>
        <strong>乔安娜</strong>
        <span class="float-right">1999-12-12</span>
      </div>
      <div class="small text-muted">
        安娜乐队主唱，毕业于伯克利音乐学院。出生在南加州的一个中产家庭，自幼跟随父亲学习古典音乐，尤其对低音乐器十分痴迷，尤其是擅长大提琴、唢呐、钢琴。
      </div>
    </div>
  </div>
  <div class="d-flex full-width">
    <div>
      <i class="fas fa-fan mr-1"></i>1024
    </div>
    <div class="ml-auto">
      <i class="fas fa-credit-card mr-1"></i>1024
    </div>
    <div class="ml-auto">
      <i class="fas fa-user-friends mr-1"></i>1024
    </div>
  </div>
</li>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextBorderTwoLine]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    height: '100%',
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 173);
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageTwoLine]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    height: '100%',
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 196);
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageTwoLineFloat]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    height: '100%',
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 196);
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageThreeLineFloat]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    height: '218px',
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 218);
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageSummary]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 349);
  codeview = CodeMirror.fromTextArea(dom.find('textarea[name=longtextImageSummaryFooter]'), {
    mode: 'xml',
    lineNumbers: true,
    editable: false,
    tabSize: 2,
    background: '#565656'
  });
  codeview.setSize('100%', 349);
</script>