<canvas id="container_3d">
</canvas>

<script>

    var container;

    var camera, scene, renderer, controls;

    var mouseX = 0, mouseY = 0;

    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;

    cameraDefaults = {
        posCamera: new THREE.Vector3(0.0, 175.0, 500.0),
        posCameraTarget: new THREE.Vector3(0, 0, 0),
        near: 0.1,
        far: 10000,
        fov: 45
    };

    var cameraTarget = cameraDefaults.posCameraTarget;
    var aspectRatio = 1;

    init();
    animate();

    function init() {

        container = document.getElementById('container_3d');

        camera = new THREE.PerspectiveCamera(cameraDefaults.fov, aspectRatio, cameraDefaults.near, cameraDefaults.far);
        // resetCamera();
        camera.position.z = 20;

        // scene
        scene = new THREE.Scene();

        var ambientLight = new THREE.AmbientLight(0xcccccc, 0.4);
        scene.add(ambientLight);
        var pointLight = new THREE.PointLight(0xffffff, 0.8);
        camera.add(pointLight);
        scene.add(camera);

        // texture
        var manager = new THREE.LoadingManager();
        manager.onProgress = function (item, loaded, total) {
            console.log(item, loaded, total);
        };

        var textureLoader = new THREE.TextureLoader(manager);
        var texture0 = textureLoader.load('/demo/img/3d/RmhDktMako.png');
        var texture1 = textureLoader.load('/demo/img/3d/tanah.png');
        texture1.needsUpdate = true;

        // model

        var onProgress = function (xhr) {
            if (xhr.lengthComputable) {
                var percentComplete = xhr.loaded / xhr.total * 100;
                console.log(Math.round(percentComplete, 2) + '% downloaded');
            }
        };

        var onError = function (xhr) {
        };

        var loader = new THREE.OBJLoader(manager);
        loader.load('/demo/img/3d/RmhDktMako.obj', function (object) {
            object.traverse(function (child) {
                if (child instanceof THREE.Mesh) {
                    child.material.map = texture0;
                }
            });
            object.position.y = 0;
            scene.add(object);
            object.addEventListener('click', function (event) {
                console.log(event);
            });
        }, onProgress, onError);

        //
        renderer = new THREE.WebGLRenderer({
            canvas: container,
            antialias: true,
            autoClear: true
        });
        renderer.setClearColor(0x050505);
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);

        controls = new THREE.TrackballControls(camera, renderer.domElement);

        // window.addEventListener('resize', onWindowResize, false);

    }

    function onWindowResize() {

        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize(window.innerWidth, window.innerHeight);

    }

    function onDocumentMouseMove(event) {
        mouseX = (event.clientX - windowHalfX) / 2;
        mouseY = (event.clientY - windowHalfY) / 2;
    }

    function animate() {
        requestAnimationFrame(animate);
        controls.update();
        render();
    }

    function render() {
        /*
        camera.position.x += (mouseX - camera.position.x) * .05;
        camera.position.y += (-mouseY - camera.position.y) * .05;
        camera.lookAt(scene.position);
        */
        renderer.render(scene, camera);
    }

    function resetCamera() {
        camera.position.copy(cameraDefaults.posCamera);
        cameraTarget.copy(cameraDefaults.posCameraTarget);
        updateCamera();
    };

    function updateCamera() {
        camera.aspect = aspectRatio;
        camera.lookAt(cameraTarget);
        camera.updateProjectionMatrix();
    };

</script>