<div class="container">
    <div id="accordion" class="accordion">
        <div class="card m-b-0">
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#description">
                <a class="card-title">水库概况</a>
            </div>
            <div id="description" class="card-block collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#baseinfo">
                <a class="card-title">基本资料</a>
            </div>
            <div id="baseinfo" class="card-block collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#images">
                <a class="card-title">工程图纸</a>
            </div>
            <div id="images" class="panel-collapse collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#files">
                <a class="card-title">资料文档</a>
            </div>
            <div id="files" class="panel-collapse collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#monitoring">
                <a class="card-title">实时监测</a>
            </div>
            <div id="monitoring" class="panel-collapse collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#checking">
                <a class="card-title">巡视检查</a>
            </div>
            <div id="checking" class="panel-collapse collapse">

            </div>
            <div class="card-header collapsed bg-info" data-toggle="collapse" data-parent="#accordion" href="#bigevent">
                <a class="card-title">大事记</a>
            </div>
            <div id="bigevent" class="panel-collapse collapse">

            </div>
        </div>
    </div>
</div>