<style>        
        .headcol {
            position:absolute; 
            width:5em; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:-3px; /*compensate for top border*/
        }
</style>
<div class="card">
    <div class="card-header">
       <strong>分页表格</strong>
       <small>不固定表头</small>
    </div>
    <div class="card-body">
        <div id="pagination-table" class="height: 100%"></div>
    </div>
</div>

<div class="card">
    <div class="card-header">
       <strong>分页表格</strong>
       <small>固定表头</small>
    </div>
    <div class="card-body">
        <div id="fixed-pagination-table" class="height: 100%"></div>
    </div>
</div>

<script>
var table = new PaginationTable({
    url: 'data/paginationtable.json',
    containerId: 'fixed-pagination-table',
    frozenHeader: true,
    // frozenColumnCount: 1,
    width: '4000px',
    height: '365px',
    tbodyHeight: '280px',
    limit: 15,
    columns: [{
        title: '水库名称',
        template: '{rsnm}',
        width: '250px',
        rowspan: 2
    }, {
        title: '工程规模',
        template: '{prscnm}',
        width: '250px',
        rowspan: 2
    }, {
        title: '行政区划',
        template: '{addvnm}',
        width: '250px',
        rowspan: 2
    }, {
        title: '当前水位（m）',
        width: '250px',
        template: '{rz}',
        width: '250px',
        rowspan: 2
    }, {
        title: '当前累计雨量（mm）',
        template: '{dyp}',
        width: '250px',
        rowspan: 2
    }, {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    },  {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    },  {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    }, {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    },  {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    }, {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    }, {
        title: '最新水位上报时间',
        width: '360px',
        template: '{dt}'
    }, {
        title: '报警',
        rowspan: 2,
        width: '200px',
        displayFunction: function (obj, td) {
            if (typeof obj.lvl === 'undefined') {
                td.append('无');
                return;
            }
            var alarm = '无';
            switch(obj.lvl + '') {
            case '1': alarm = '红色'; break;
            case '2': alarm = '橙色'; break;
            case '3': alarm = '黄色'; break;
            case '4': alarm = '蓝色'; break;
            }
            var a = $('<a href="#">');
            a.on('click', function() {
                
            });
            a.text(alarm);
            td.append(a);
        }
    }]
});
table.render('fixed-pagination-table');

var table1 = new PaginationTable({
    url: 'data/paginationtable.json',
    containerId: 'pagination-table',
    frozenHeader: false,
    // frozenColumnCount: 1,
    limit: 15,
    columns: [{
        title: '水库名称',
        template: '{rsnm}'
    }, {
        title: '工程规模',
        template: '{prscnm}'
    }, {
        title: '行政区划',
        template: '{addvnm}',
        width: '250px'
    }, {
        title: '当前水位（m）',
        template: '{rz}'
    }, {
        title: '当前累计雨量（mm）',
        template: '{dyp}'
    }, {
        title: '最新水位上报时间',
        template: '{dt}'
    }, {
        title: '报警',
        displayFunction: function (obj, td) {
            if (typeof obj.lvl === 'undefined') {
                td.append('无');
                return;
            }
            var alarm = '无';
            switch(obj.lvl + '') {
            case '1': alarm = '红色'; break;
            case '2': alarm = '橙色'; break;
            case '3': alarm = '黄色'; break;
            case '4': alarm = '蓝色'; break;
            }
            var a = $('<a href="#">');
            a.on('click', function() {
                
            });
            a.text(alarm);
            td.append(a);
        }
    }]
});
table1.render('pagination-table');
</script>