<div class="card">
<div class="card-header">
   <strong>表单</strong>
   <small>验证</small>
</div>
<div class="card-body">
<div id="validation-form" class="form form-horizontal">
   <div class="form-group row">
      <label class="col-form-label col-md-2">必填项测试*：</label>
      <div class="col-md-4"><input class="form-control" name="required" required label='必须要填'></div>
      <label class="col-form-label col-md-2">任意项测试：</label>
      <div class="col-md-4"><input class="form-control" name="optional"></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">email测试：</label>
      <div class="col-md-4"><input class="form-control" name="email" domain-type='email' label='email'></div>
      <label class="col-form-label col-md-2">number(5)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number1" domain-type="number(5)" label='number(5)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">number(15, 5)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number1" domain-type="number(15, 5)" label='number(15, 5)'></div>
      <label class="col-form-label col-md-2">number(5, 2)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number6" domain-type="number(5, 2)" label='number(5, 2)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">-number(5,2)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number2" domain-type="-number(5,2)" label='-number(5,2)'></div>
      <label class="col-form-label col-md-2">+number(5,2)：</label>
      <div class="col-md-4"><input class="form-control" name="number3" domain-type="+number(5,2)" label='+number(5,2)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">range(10, 1000)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number4" domain-type="range(10, 1000)" label='range(10, 1000)' invalid-message='值必须大于10并且小于1000'></div>
      <label class="col-form-label col-md-2">range[10, 1000)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number4" domain-type="range[10, 1000)" label='range[10, 1000)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">range(-100, 100)测试：</label>
      <div class="col-md-4"><input class="form-control" name="number5" domain-type="range(-100, 100)" label='range(-100, 100)'></div>
      <label class="col-form-label col-md-2">range(-100, 100]测试：</label>
      <div class="col-md-4"><input class="form-control" name="number5" domain-type="range(-100, 100]" label='range(-100, 100]'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">string(2,5)测试：</label>
      <div class="col-md-4"><input class="form-control" name="string1" domain-type="string(2,5)" label='string(2,5)'></div>
      <label class="col-form-label col-md-2">string(0,5)测试：</label>
      <div class="col-md-4"><input class="form-control" name="string2" domain-type="string(0,5)" label='string(0,5)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">string(10)测试：</label>
      <div class="col-md-4"><input class="form-control" name="string3" domain-type="string(10)" label='string(10)'></div>
      <label class="col-form-label col-md-2">regexp(^\d$)测试：</label>
      <div class="col-md-4"><input class="form-control" name="string3" domain-type="regexp(^\d$)" label='regexp(^\d$)'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">val0测试：</label>
      <div class="col-md-4"><input class="form-control" name="val0" domain-type="number(10)" label='val0'></div>
      <label class="col-form-label col-md-2">val1测试：</label>
      <div class="col-md-4"><input class="form-control" name="val1" domain-type="number(10)" label='val1'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-3">cmpexp(number(10,2), val2 > val1 && val2 > val0)测试：</label>
      <div class="col-md-9"><input class="form-control" name="val2" domain-type="cmpexp(number(10,2), val2 > val1 && val2 > val0)" label='cmpexp(number(10,2), val2 > val1 && val2 > val0)' invalid-message='val2的值必须大于val0和val1'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">开始日期：</label>
      <div class="col-md-4"><input class="form-control" name="startDate" domain-type="cmpexp(datetime, 'startDate' <= 'endDate')" label='开始日期' format-message='开始日期格式不符合要求' invalid-message='开始日期必须小于等于结束日期'></div>
      <label class="col-form-label col-md-2">结束日期：</label>
      <div class="col-md-4"><input class="form-control" name="endDate" domain-type="cmpexp(datetime, 'startDate' <= 'endDate')" label='结束日期' format-message='结束日期格式不符合要求' invalid-message='结束日期必须大于等于开始日期'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">开始时间：</label>
      <div class="col-md-4"><input class="form-control" name="startTime" domain-type="cmpexp(time, 'startTime' <= 'endTime')" label='开始时间' format-message='开始时间格式不符合要求' invalid-message='开始时间必须小于等于结束时间'></div>
      <label class="col-form-label col-md-2">结束时间：</label>
      <div class="col-md-4"><input class="form-control" name="endTime" domain-type="cmpexp(time, 'startTime' <= 'endTime')" label='结束时间' format-message='结束时间格式不符合要求' invalid-message='结束时间必须大于等于开始时间'></div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-3">下拉框测试：</label>
      <div class="col-md-9">
         <select class="form-control" required label="下拉框">
            <option value=''>请选择</option>
            <option value='A'>A</option>
            <option value='B'>B</option>
         </select>
      </div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">复选框测试*: </label>
      <div class="col-md-4 form-inline">
         <label class="checkbox-inline"><input type='checkbox' name='cb' label='复选框' value='A' required>A </label>
         <label class="checkbox-inline"> <input name='cb' type='checkbox' value='B'>B</label>
      </div>
      <label class="col-form-label col-md-2">复选框测试: </label>
      <div class="col-md-4 form-inline">
         <label class="checkbox-inline"><input type='checkbox' name='cb1' label='复选框' value='C'>C</label>
         <label class="checkbox-inline"><input name='cb1' type='checkbox' value='D'>D</label>
      </div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">单选框测试*：</label>
      <div class="col-md-4 form-inline">
         <label class="radio-inline"><input type='radio' name='rb' label='单选框' value='A' required>A</label>
         <label class="radio-inline"><input name='rb' type='radio' value='B'>B</label>
      </div>
      <label class="col-form-label col-md-2">单选框测试：</label>
      <div class="col-md-4 form-inline">
         <label class="radio-inline"><input type='radio' name='rb1' label='单选框' value='C'>C</label>
         <label class="radio-inline"><input name='rb1' type='radio' value='D'>D</label>
      </div>
   </div>
   <div class="form-group row">
      <label class="col-form-label col-md-2">文件测试*：</label>
      <div class="col-md-4"><input class="form-control" type='file' label='文件' required></div>
      <label class="col-form-label col-md-2">文件测试：</label>
      <div class="col-md-4"><input class="form-control" type='file'></div>
   </div>
   <div class="col-md-12">
      <input type="button" name="validation-test" value="Test" class="btn pull-right"/>
   </div>
</div>
<script>
   $('input[name="validation-test"]').on('click', function() {
   	var elms = Validation.validate($('#validation-form'));
   	if (elms.length > 0) {
   		// elms[0].elm.focus();
           dialog.alert(elms[0].message);
   	}
   });
</script>