<div id="widgetSidebar" class="card">
  <div class="card-header">
    <strong>示例：弹出框</strong>
  </div>
  <div class="card-body row">
    <div>
      <button id="buttonSidebarRight" class="btn btn-info text-white">显示右侧编辑栏</button>
      <button id="buttonPopupRightCenter" class="btn btn-info text-white">显示提示框</button>
      <div class="popup hidden">
        <div class="popup-right-center"></div>
        <div class="popup-body">这里可以放任意提示！多加几个字测试一下！</div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>示例：电子表</strong>
  </div>
  <div class="card-body height100" style="background: #0091EA;">
    <div class="clock">
      <div class="numbers">
        <p class="hours"></p>
        <p class="placeholder">88</p>
      </div>
      <div class="colon">
        <p>:</p>
      </div>
      <div class="numbers">
        <p class="minutes"></p>
        <p class="placeholder">88</p>
      </div>
      <div class="colon">
        <p>:</p>
      </div>
      <div class="numbers">
        <p class="seconds"></p>
        <p class="placeholder">88</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>示例：进度</strong>
  </div>
  <div class="card-body row">
    <div class="col-md-3">
      <div class="progress-circle p10">
        <span>10%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="progress-circle over50 p55">
        <span>55%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>示例：标签</strong>
  </div>
  <div class="card-body row">
    <a class="ui tag label ml-5">正常</a>
    <a class="ui tag label bg-success text-white ml-5">不错</a>
    <a class="ui tag label bg-danger text-white ml-5">警告</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>示例：可删除标签</strong>
  </div>
  <div class="card-body row">
    <div class="chip">CSS
      <i class="fas fa-times chip-action"></i>
    </div>
    <div class="chip">HTML
      <i class="fas fa-times chip-action text-danger"></i>
    </div>
  </div>
</div>

<script src="/3rd/clock/javascript/main.js"></script>

<script>
setTimeout(function() {
  schedule.stop();
}, 5000);

dom.bind('#buttonSidebarRight', 'click', function() {
  ajax.sidebar({
    containerId: '#widgetSidebar',
    title: '表单编辑',
    url: 'html/component/rightbar.html'
  });
});

dom.bind('#buttonPopupRightCenter', 'click', function() {
  let ox = this.offsetLeft;
  let oy = this.offsetTop;
  let width = parseInt(this.clientWidth);
  let height = parseInt(this.clientHeight);
  let popup = dom.find('.popup');
  popup.style.left = ox + width + 'px';
  popup.style.top = oy + (height / 2) + 'px';

  popup.classList.remove('hidden');
  popup.classList.add('show');

  setTimeout(function(event) {
    popup.classList.remove('show');
    popup.classList.add('hidden');
  }, 2000)
});
</script>

