<div class="card">
  <div class="card-header pl-3 pr-3">
    <i class="fa fa-list"></i>
    <strong>树型表</strong>
  </div>
  <div class="card-body">
    <div id="treelikeTable" class="col-md-12 pl-0 pr-0"></div>
  </div>
</div>
<div class="card">
  <div class="card-header pl-3 pr-3">
    <i class="fa fa-list"></i>
    <strong>可分页树型表（第一级节点分页）</strong>
  </div>
  <div class="card-body">
    <div id="paginationTreelikeTable" class="col-md-12 pl-0 pr-0"></div>
  </div>
</div>
<div class="card">
  <div class="card-header pl-3 pr-3">
    <i class="fa fa-list"></i>
    <strong>分页表</strong>
  </div>
  <div class="card-body">
    <div id="paginationTable" class="col-md-12 pl-0 pr-0"></div>
  </div>
</div>

<script>
var treelikeTable = new TreelikeTable({
  url: 'data/tree.json',
  fields: {
    name: 'name',
    id: 'id',
    parentId: 'parentId'
  },
  columns: [{
    title: '任务名称',
  }, {
    title: '开发进度',
    display: function(row, td) {
      let html = '<div class="clearfix">\n' +
        '        <div class="float-left"><strong>50%</strong></div>\n' +
        '        <div class="float-right"><small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small></div>\n' +
        '      </div>\n' +
        '      <div class="progress progress-xs">\n' +
        '        <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> \n' +
        '      </div>';
      td.innerHTML = html;
    }
  }, {
    title: '责任人',
    display: function(row, td) {
      let a = document.createElement('a');
      a.classList.add('btn', 'text-success');
      a.innerText = row.principalName;
      td.append(a);
    }
  }]
});
treelikeTable.render('#treelikeTable', {});

var paginationTreelikeTable = new TreelikeTable({
  url: 'data/treepage.json',
  limit: 5,
  levels: 2, /* 最多两级 */
  fields: {
    name: 'name',
    id: 'id',
    parentId: 'parentId'
  },
  columns: [{
    title: '任务名称',
  }, {
    title: '开发进度',
    display: function(row, td) {
      let html = '<div class="clearfix">\n' +
        '        <div class="float-left"><strong>' + row.progress +'%</strong></div>\n' +
        '        <div class="float-right"><small class="text-muted">2020-01-01 至 2020-02-01</small></div>\n' +
        '      </div>\n' +
        '      <div class="progress progress-xs">\n' +
        '        <div class="progress-bar bg-gradient-success" role="progressbar" style="width: ' + row.progress + '%" aria-valuenow="' + row.progress + '" aria-valuemin="0" aria-valuemax="100"></div> \n' +
        '      </div>';
      td.innerHTML = html;
    }
  }, {
    title: '责任人',
    display: function(row, td) {
      let a = document.createElement('a');
      a.classList.add('btn', 'text-success');
      a.innerText = row.principalName;
      td.append(a);
    }
  }]
});
paginationTreelikeTable.render('#paginationTreelikeTable', {});

var paginationTable = new PaginationTable({
  url: 'data/paginationtable.json',
  limit: 10,
  columns: [{
    title: '水库名称',
    template: '{rsnm}',
    order: 'rsnm'
  }, {
    title: '工程规模',
    template: '{prscnm}',
    order: 'prscnm'
  }, {
    title: '行政区划',
    template: '{addvnm}',
    order: 'addvnm'
  }, {
    title: '当前水位（m）',
    template: '{rz}'
  }, {
    title: '当前累计雨量（mm）',
    template: '{dyp}'
  }, {
    title: '最新水位上报时间',
    template: '{dt}'
  }, {
    title: '报警',
    display: function (obj, td) {
      if (typeof obj.lvl === 'undefined') {
        td.append('无');
        return;
      }
      var alarm = '无';
      switch (obj.lvl + '') {
        case '1': alarm = '红色'; break;
        case '2': alarm = '橙色'; break;
        case '3': alarm = '黄色'; break;
        case '4': alarm = '蓝色'; break;
      }
      var a = $('<a href="#">');
      a.on('click', function () {

      });
      a.text(alarm);
      td.append(a);
    }
  }],
  filter: {
    columnCount: 3,
    fields: [{
      title: '手机号',
      name: 'mobile',
      input: 'text',
    },{
      title: '邮箱',
      name: 'email',
      input: 'text',
    },{
      title: '类型',
      input: 'select',
      name: 'type',
      options: {
        placeholder: '请选择...',
        searchable: false,
        values: [{value: '类型A', text:'类型A'},{value: '类型B', text:'类型B'},{value: '类型C', text:'类型C'}]
      },
    },{
      title: '日期',
      name: 'date',
      input: 'date',
    }]
  },
});
paginationTable.render('#paginationTable');
</script>
