/*DIGITAL CLOCK FONT*/
@font-face{
  font-family:'digital-7';
  src: url('../fonts/digital-7.ttf');
}

/* DAYS OF THE WEEK */
div.days {
  margin: 0 auto;
  color: #131212;
}

div.days .day {
  display: inline-block;
}

div.days .day p {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}

div.clock {
  color: #ffffff;
  background-color: #0091EA;
  font-family: 'digital-7', sans-serif;
}

div.clock div{
  display: inline-block;
  position: relative;
}

div.clock div p{
  font-size: 36px;
  position: relative;
  z-index: 100;
}

div.clock .placeholder {
  color: #0091EA;
  position: absolute;
  top: 0;
  z-index: 50;
}

.am-pm {
  font-family: sans-serif;
  text-transform: uppercase;
  width: 20px;
}

div.am-pm div p {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}

.am, .pm {
  color: #131212;
}

/*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
.light-on {
  color: #ffffff;
}