
.im-container {
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  width: 100%;
  height: 100%;
  background-color: var(--white);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

.im-container .left {
  /*float: left;*/
  /*width: 37.6%;*/
  /*height: 100%;*/
  /*border: 1px solid var(--light);*/
  /*background-color: var(--white);*/
}

.im-container .left .top {
  position: relative;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.im-container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}*/

.im-container .left input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.im-container .left input:focus {
  outline: none;
}

.im-container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%;
}

.im-container .left .people {
  height: 570px;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -1px;
  border-right: 1px solid var(--light);
  /*border-left: 1px solid var(--light);*/
  width: calc(100% + 2px);
}

.im-container .left .people .person {
  list-style-type: none;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #eceff1;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #fff;
  border-radius: 10px;
}

.im-container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 0 16px 10px;
  cursor: pointer;
  background-color: var(--white);
}

.im-container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 94%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.im-container .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.im-container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.im-container .left .people .person .time {
  padding-left: 52px;
  font-size: 12px;
  color: #999;
  background-color: var(--white);
}

.im-container .left .people .person .message-reminder {
  display: none;
  font-size: 14px;
  position: absolute;
  /*top: 16px;*/
  right: 5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0 0 5px 5px;
  color: var(--white);
  background-color: var(--red);
}

.im-container .left .people .person .preview {
  font-size: 12px;
  display: block;
  overflow: hidden !important;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}

.im-container .left .people .person.active,
.im-container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: var(--blue);
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}

.im-container .left .people .person.active span,
.im-container .left .people .person:hover span {
  color: var(--white);
  background: transparent;
}

.im-container .left .people .person.active:after,
.im-container .left .people .person:hover:after {
  display: none;
}

.person {
  display: flex;
  flex-direction: column;
}

.person-cont {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.person-cont img {

}

.person-text {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.im-container .right {
  position: relative;
  height: 100%;
  padding: 0;
  border: 1px solid var(--light);
}

.im-container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
  line-height: 17px;
}

.im-container .right .top span {
  font-size: 15px;
  color: var(--grey);
}

.im-container .right .top span .name {
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.im-container .right .chat-conversation {
  height: 410px;
  padding-bottom: 10px;
}

.chat-conversation .conversation-ul {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 12px;
  border-bottom: 1px solid var(--light);
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}

.chat-conversation .active-chat {
  display: block;
  overflow-y: auto;
}

.chat-conversation .conversation-ul li {
  /*overflow: hidden;*/
}


.chat-conversation .conversation-ul .chat-avatar {
  margin-right: 16px
}

.chat-conversation .chat-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%
}

.chat-conversation .chat-day-title {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px
}

.chat-conversation .chat-day-title .title {
  background-color: #f0eff5;
  position: relative;
  font-size: 13px;
  z-index: 1;
  padding: 6px 12px;
  border-radius: 5px
}

.chat-conversation .chat-day-title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #f0eff5;
  top: 10px
}

.chat-conversation .chat-day-title .badge {
  font-size: 12px
}

.chat-conversation .conversation-list {
  width: 100%;
  margin-bottom: 24px;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.chat-conversation .conversation-list .ctext-wrap {
  display: flex;
  margin-bottom: 0px;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  height: 100%;
}

.chat-conversation .conversation-list .ctext-wrap-content {
  padding: 5px 7px;
  text-align: justify;
  background-color: #7269ef;
  border-radius: 5px;
  color: #fff;
  position: relative
}


.chat-conversation .conversation-list .ctext-wrap-content:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 7px;
  border-top: 10px solid transparent;
  border-right: 10px solid #7269ef;
  border-bottom: 10px solid transparent;
}

.chat-conversation .conversation-list .conversation-name {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.chat-conversation .conversation-list .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
}


@media (max-width: 575.98px) {
  .chat-conversation .conversation-list .dropdown .dropdown-toggle {
    display: none
  }
}

.chat-conversation .conversation-list .ctext-wrap-content .message-file {
  display: flex;
  background: white;
  align-items: center;
  padding: 3px;
  border-radius: inherit;
}

.chat-conversation .conversation-list .chat-time {
  font-size: 12px;
  margin-top: 4px;
  text-align: right;
  color: rgba(255, 255, 255, .5)
}

.chat-conversation .conversation-list .message-img {
  display: flex;
  border-radius: .2rem;
  position: relative
}

.chat-conversation .conversation-list .message-img .message-img-list {
  position: relative
}

.chat-conversation .conversation-list .message-img img {
  max-width: 150px
}

.chat-conversation .conversation-list .message-img .message-img-link {
  position: absolute;
  right: 10px;
  bottom: 10px
}

.chat-conversation .conversation-list .message-img .message-img-link li > a {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center
}

.chat-conversation .conversation-list .message-audio {
  margin: .1rem 0;
  color: #999999;
  height: 34px;
  max-width: 200px;
  min-width: 80px;
  background-color: #e8f8e6;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  position: relative;
}

/* 右侧样式 */
.chat-conversation .conversation-list .message-audio .audio_img {
  position: absolute;
  width: 30px;
  height: 34px;
  background-image: url("/img/im/audio.png");
  background-size: 115px 34px;
  background-repeat: no-repeat;
  background-position: -3px;
  animation: bofang 1s steps(1) infinite;
  -moz-animation: bofang 1s steps(1) infinite;
  -webkit-animation: bofang 1s steps(1) infinite;
  -o-animation: bofang 1s steps(1) infinite;
  animation-play-state: paused;
}

.chat-conversation .conversation-list .message-audio .audio_img_l {
  left: 5px;
}

.chat-conversation .conversation-list .message-audio .audio_img_r {
  right: 5px;
  transform: rotate(180deg);
}

.chat-conversation .conversation-list .message-audio .audio_txt {
  position: absolute;
  color: lightgray;
  line-height: 34px;
}

.chat-conversation .conversation-list .message-audio .audio_txt_r {
  left: 5px;
}

.chat-conversation .conversation-list .message-audio .audio_txt_l {
  right: 5px;
}

@keyframes bofang {
  25% {
    background-position: -33px;
  }
  50% {
    background-position: -59px;
  }
  75% {
    background-position: -84px;
  }
  100% {
    background-position: 0px;
  }
}

.chat-conversation .rightLi .chat-avatar {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-right: 0;
  margin-left: 16px
}

.chat-conversation .rightLi .chat-time {
  text-align: left;
  color: #7a7f9a
}

.chat-conversation .rightLi .conversation-list {
  /*width: 50%;*/
  /*float: right;*/
  display: flex;
  justify-content: flex-end;
}

.chat-conversation .rightLi .conversation-list .ctext-wrap .ctext-wrap-content {
  text-align: justify;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  background-color: #f5f7fb;
  color: #343a40;
}

.chat-conversation .rightLi .conversation-list .ctext-wrap {
  display: flex;
  margin-bottom: 0px;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  height: 100%;
}

.chat-conversation .rightLi .conversation-list .ctext-wrap .ctext-wrap-content:before {
  left: auto;
  right: -6px;
  border-top: 10px solid transparent;
  border-left: 10px solid #f5f7fb;
  border-bottom: 10px solid transparent;
  border-right: 0;
}

.chat-conversation .rightLi .conversation-list .conversation-name {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
}

.chat-conversation .rightLi .conversation-list .dropdown {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}


.im-container .right .chat-conversation .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 0px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--light);
  /*height: calc(100% - 48px);*/
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}

.im-container .right .chat-conversation .active-chat {
  display: block;
  overflow-y: auto;
  /*display: flex;*/
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(1) {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(2) {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(3) {
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

.im-container .right .chat-conversation .chat.active-chat .bubble:nth-of-type(4) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(5) {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(6) {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(7) {
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(8) {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(9) {
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s;
}

.im-container .right .chat-conversation .chat.active-chat .conversation-ul li:nth-of-type(10) {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}


.im-container .right .chat-conversation .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
  text-align: center;
  cursor: pointer;
  height: 21px;
}

.im-container .right .chat-conversation .conversation-start:before {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 100%;
  left: 0;
  height: 1px;
  content: '';
  background-color: var(--light);
  z-index: -1;
}

.im-container .right .chat-conversation .conversation-start span {
  font-size: 14px;
  color: var(--gray);
  background: #ffff;
  padding: 0 10px;
}

.im-container .right .write {
  /*position: absolute;*/
  /*bottom: 29px;*/
  /*left: 30px;*/
  /*height: 42px;*/
  /*padding-left: 8px;*/
  /*border: 1px solid var(--light);*/
  /*background-color: #eceff1;*/
  /*width: calc(100% - 58px);*/
  /*border-radius: 5px;*/
}

.im-container .right .message-input input {
  font-size: 16px;
  float: left;
  width: 347px;
  height: 40px;
  padding: 0 10px;
  color: var(--dark);
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.im-container .right .write .bottom-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.im-container .right .write .write-link.pic:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/pic.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .write-link.file:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/file.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .write-link.screen-capture:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/screen-capture.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .write-link.voice-call:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/voice-call.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .write-link.video-call:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/video-call.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .write-link.send:before {
  display: inline-block;
  width: 30px;
  height: 24px;
  content: '';
  background-image: url("/img/im/send.png");
  background-repeat: no-repeat;
  background-position: center;
}

.im-container .right .write .message-input textarea {
  padding: 0px 10px;
}

.im-container .right .write .message-input textarea {
  border: 0;
  background-color: transparent;
  /*scrollbar-arrow-color:yellow;
  scrollbar-base-color:lightsalmon;
  overflow: hidden;*/
  outline: none;
  color: #666464;
  height: auto;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.font-24 {
  font-size: 24px !important;
}

.bar-left {
  display: flex;
}

/*page*/
.page-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.page-item .page-link {
  font-size: 12px !important;
  padding: 0 3px;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.textover h6 {
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.avatar-sm {
  margin-right: 10px;
}

.min-card {
  background: #fff;
  color: #222;
  border-radius: 5px;
}

.scroll-content {
  overflow-y: auto;
}
.align-self-start{
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 6px;
}
.align-self-start .dropdown-item{
  padding: 4px 6px;
  text-align: center;
  border-bottom: 0;
  position: relative;
}
.align-self-start .dropdown-item:nth-child(n+2)::before{
position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, #fff , #e6dfdf,#fff);
  content: "";
}
.align-self-start .fa-ellipsis-v{
  color:#7269ef;
}
.align-self-start .dropdown-menu{
  min-width: 60px;
  border: 0;
  box-shadow: 1px 2px 10px rgba(0, 0 ,0, 0.2);
}
@media screen and (max-height: 601px) {
  .people,.scroll-content{
    height: calc(100vh - 120px) !important;
  }
  .im-container .right .chat-conversation{
    height: calc(100vh - 279px) !important;
  }
  .layui-layer{
    top: 10px !important;
  }
}