<div id="pageFormWidthImagesEdit" class="page side">
  <div class="card card-body row mx-0">
    <div class="col-24-24">
      <div widget-id="widgetFormWidthImages">
      </div>
    </div>
  </div>
</div>
<script>
function PageFormWidthImagesEdit() {
  this.page = dom.find('#pageFormWidthImagesEdit');
}

PageFormWidthImagesEdit.prototype.initialize = async function (params) {
  dom.init(this, this.page);
  // 页面高度设置
  dom.autoheight(this.page, document.body, 64);

  this.courseId = params.courseId;

  this.formFormWidthImages = new FormLayout({
    columnCount: 1,
    confirm: () => {
      dialog.confirm('确定保存数据？', () => {
        this.saveFormWidthImages();
      });
    },
    fields: [{
      title: '对象标识',
      name: 'FormWidthImagesId',
      input: 'hidden',
    },{
      title: '名称',
      name: 'name',
      required: true,
      input: 'text',
    },{
      title: '数字',
      name: 'cost',
      required: true,
      input: 'number',
    },{
      title: '图片',
      name: 'imgs',
      required: false,
      input: 'images',
      options: {
        width: 90,
      },
    },{
      title: '文件',
      name: 'docs',
      required: false,
      input: 'fileupload',
      options: {
        url: {
          fetch: '/',
        }
      },
    },{
      title: '备注',
      name: 'note',
      required: false,
      input: 'longtext',
    }],
  });
  if (!this.FormWidthImagesId) {
    this.formFormWidthImages.render(this.widgetFormWidthImages);
  } else {
    this.readFormWidthImages();
  }
};

/**
 * 执行【线上课程编辑】数据的保存操作。
 */
PageFormWidthImagesEdit.prototype.saveFormWidthImages = async function () {
  let errors = Validation.validate(this.widgetFormWidthImages);
  if (errors.length > 0) {
    dialog.error(utils.message(errors));
    return;
  }
  let data = this.formFormWidthImages.getData();
  console.log(data);
  // let FormWidthImages = dom.formdata(this.widgetFormWidthImages);
  // let data = await xhr.promise({
  //   url: '/api/v3/common/script/stdbiz/etm/course/merge',
  //   params: {
  //     ...FormWidthImages,
  //   }
  // });
  // // 回写标识
  // this.FormWidthImagesId = data.FormWidthImagesId;
  // // 发布消息
  // PubSub.publish('ylsj/etm/course/saved', data);
  // // 关闭滑窗
  // this.formFormWidthImages.hideSidebar();
};

/**
 * 执行【线上课程编辑】已有数据的读取操作。
 */
PageFormWidthImagesEdit.prototype.readFormWidthImages = async function () {
  let data = await xhr.promise({
    url: '/api/v3/common/script/stdbiz/etm/course/find',
    params: {
      courseId: this.courseId,
      '_left_join': `
    `,
    }
  });
  if (data.length > 0) {
    this.formFormWidthImages.render(this.widgetFormWidthImages, data[0]);
  }
};

PageFormWidthImagesEdit.prototype.destroy = function () {
  delete pageFormWidthImagesEdit;
};

PageFormWidthImagesEdit.prototype.show = function (params) {
  params = params || {};
  this.initialize(params);
};

pageFormWidthImagesEdit = new PageFormWidthImagesEdit();
</script>