<div id="pageFormWithImagesEdit" class="page side">
  <div class="card card-body row mx-0">
    <div class="col-24-24">
      <div widget-id="widgetFormWithImages">
      </div>
    </div>
  </div>
</div>
<script>
function PageFormWithImagesEdit() {
  this.page = dom.find('#pageFormWithImagesEdit');
}

PageFormWithImagesEdit.prototype.initialize = async function (params) {
  dom.init(this, this.page);
  // 页面高度设置
  dom.autoheight(this.page, document.body, 64);

  this.courseId = params.courseId;

  this.formFormWithImages = new FormLayout({
    columnCount: 1,
    confirm: () => {
      dialog.confirm('确定保存数据？', () => {
        this.saveFormWithImages();
      });
    },
    fields: [{
      title: '对象标识',
      name: 'FormWithImagesId',
      input: 'hidden',
    },{
      title: '名称',
      name: 'name',
      required: true,
      input: 'text',
    },{
      title: '数字',
      name: 'cost',
      required: true,
      input: 'number',
    },{
      title: '图片',
      name: 'imgs',
      required: false,
      input: 'images',
      options: {
        width: 90,
      },
    },{
      title: '文件',
      name: 'docs',
      required: false,
      input: 'fileupload',
      options: {
        url: {
          fetch: '/',
        }
      },
    },{
      title: '备注',
      name: 'note',
      required: false,
      input: 'longtext',
    }],
  });
  if (!this.FormWithImagesId) {
    this.formFormWithImages.render(this.widgetFormWithImages);
  } else {
    this.readFormWithImages();
  }
};

/**
 * 执行【线上课程编辑】数据的保存操作。
 */
PageFormWithImagesEdit.prototype.saveFormWithImages = async function () {
  let errors = Validation.validate(this.widgetFormWithImages);
  if (errors.length > 0) {
    dialog.error(utils.message(errors));
    return;
  }
  let data = this.formFormWithImages.getData();
  console.log(data);
};

/**
 * 执行【线上课程编辑】已有数据的读取操作。
 */
PageFormWithImagesEdit.prototype.readFormWithImages = async function () {
  let data = await xhr.promise({
    url: '/api/v3/common/script/stdbiz/etm/course/find',
    params: {
      courseId: this.courseId,
      '_left_join': `
    `,
    }
  });
  if (data.length > 0) {
    this.formFormWithImages.render(this.widgetFormWithImages, data[0]);
  }
};

PageFormWithImagesEdit.prototype.destroy = function () {
  delete pageFormWithImagesEdit;
};

PageFormWithImagesEdit.prototype.show = function (params) {
  params = params || {};
  this.initialize(params);
};

pageFormWithImagesEdit = new PageFormWithImagesEdit();
</script>