<div id="mapContainer" style="width: 100%; height: 100%;"></div>

<script id="east_chart_template" type="text/template">
    <select class="col-md-12 form-control">
        <option>考勤</option>
        <option>报警</option>
        <option>数据</option>
        <option>问题</option>
    </select>
    <div id="east_chart_container" style="width: 100%; height: 100%;"></div>
</script>

<script type="text/javascript">
    option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: [
                    { value: 335, name: '直接访问' },
                    { value: 310, name: '邮件营销' },
                    { value: 234, name: '联盟广告' },
                    { value: 135, name: '视频广告' },
                    { value: 1548, name: '搜索引擎' }
                ]
            }
        ]
    };
    var map = new gis.Baidu('mapContainer', {lat: 29.999559, lng: 107.722063}, 9);

    map.east({
        title: '统计',
        height: '500px',
        width: '300px',
        display: true,
        contentHtml: document.getElementById('east_chart_template').innerHTML,
        onLoad: function () {
            var chart = echarts.init(document.getElementById('east_chart_container'));
            chart.setOption(option);
        }
    });

    map.toolbar({
        searchUrl: '/demo/data/searchbox.json',
        direction: 'up',
        onRestore: function () {
            init();
        }
    });
    
    function init() {
        map.restore();
        map.boundary('重庆市');
        ajax.get('/demo/data/bmap.json', {}, function(resp) {
            var data = resp.data;
            for (var i = 0; i < data.length; i++) {
                map.number(data[i], data[i].coord, {
                    click: function(data) {
                        map.clear();
                        if (data.addv) {
                            map.boundary(data.addv);
                        }
                        for (var i = 0; i < data.children.length; i++) {
                            var child = data.children[i];
                            if (child.coord)
                                map.mark(child, child.coord, {
                                    click: function(data) {
                                        console.log(data);
                                        setWest('/demo/component/bmap-reservoir.html', true, function() {
                                            gotoView('/demo/page/profile-baseinfo.html', 'baseinfo');
                                            gotoView('/demo/page/profile-description-mini.html', 'description');
                                            gotoView('/demo/page/profile-images-mini.html', 'images');
                                            gotoView('/demo/page/profile-files-mini.html', 'files');
                                            gotoView('/demo/page/profile-monitoring.html', 'monitoring');
                                            gotoView('/demo/page/profile-checking-mini.html', 'checking');
                                            gotoView('/demo/page/profile-bigevent.html', 'bigevent');
                                        });
                                    }
                                });
                            else if (child.coords) 
                                map.polyline(child, child.coords, {
                                    click: function(data) {
                                        console.log(data);
                                        setWest('/demo/component/bmap-river.html', true);
                                    }
                                });
                        }
                        map.getMap().centerAndZoom(new BMap.Point(data.coord.lng, data.coord.lat), 11);
                    } 
                });
            }
        });
    }
    
    function setWest(url, display, onload) {
        ajax.view(url, null, {}, function (resp) {
            map.west({
                title: '档案',
                height: '600px',
                width: '500px',
                display: display || false,
                contentHtml: resp,
                onLoad: onload || function () {}
            });
        });
    }
    
    init();
    setWest('/demo/component/bmap-west.html');
</script>
