<div>
  <button class="btn btn-save">保存</button>
  <button class="btn btn-back">返回</button>
  <button class="btn btn-refresh">刷新</button>
  <button class="btn btn-publish">发布</button>
  <button class="btn btn-delete">删除</button>
  <button class="btn btn-query">查询</button>
  <button class="btn btn-new">新建</button>
  <button class="btn btn-enable">激活</button>
  <button class="btn btn-disable">禁用</button>
  <button class="btn btn-confirm">确认</button>
  <button class="btn btn-close">关闭</button>
  <button class="btn btn-download">下载</button>
  <button class="btn btn-upload">上传</button>
  <button class="btn btn-export">导出</button>
  <button class="btn btn-link">按钮</button>
</div>
