<div class="card">
    <div class="card-header">
       <strong>水库</strong>
       <div class="card-actions">
           <a class="btn btn-link" href="javascript:void(0)" onclick="svg.restore();">还原</a>
       </div>
    </div>
    <div class="card-body row">
        <div id="reservoir" class="col-md-6" style="height: 100%">
        </div>
        <div id="reservoir2" class="col-md-6 card-block" style="height: 100%">
        在利用SVG来实现2D展示的时候，在图中可以预标识或者动态（程序）标识各个元素图形，按照HTML5规范自定义属性，程序添加上事件。比如在左侧图中点击polygon。
            <div id="result" class="text-muted"></div>
        </div>
    </div>
</div>

<script>
    var svg = new Svg({
        svgurl: '/demo/img/reservoir.svg',
        onLoad: function(svg, dom) {
            svg.selectAll('polygon[data-label]').each(function () {
                var elm = d3.select(this);
                elm.attr('cursor', 'pointer');
                elm.on('mousedown.log', function() {
                    var elm = d3.select(this);
                    document.getElementById('result').innerHTML = elm.attr('data-label');
                })
            });
        }
    });
    svg.render('reservoir');
</script>
