<style>
    .headcol {
        position:absolute;
        width:5em;
        left:0;
        top:auto;
        border-right: 0px none black;
        border-top-width:3px; /*only relevant for first row*/
        margin-top:-3px; /*compensate for top border*/
    }
</style>
<div class="card">
    <div class="card-header">
        <strong>统计表格</strong>
        <small>不固定表头</small>
    </div>
    <div class="card-body">
        <div id="statistics-table" class="height: 100%"></div>
    </div>
</div>

<script>

    var table1 = new StatisticsTable({
        url: 'data/statisticstable.json',
        limit: 15,
        columns: [{
            title: '管理单位',
            template: '{rsnm}',
            dimensions: [{title: '管理单位', value: 'org'}, {title: '行政区划', value: 'addv'}]
        }, {
            title: '出勤率',
            template: '{prscnm}'
        }, {
            title: '接入个数',
            template: '{addvnm}'
        }, {
            title: '故障个数',
            template: '{rz}'
        }]
    });
    table1.render('statistics-table');
</script>