/*!
** TAGS
*/

.tag-success {
  background: var(--color-success);
  border-radius: 3px 0 0 3px;
  font-weight: bold;
  color: white;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag-success::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 13px;
}

/*.tag-success::after {*/
/*  background: rgba(255,255,255, 1);*/
/*  border-bottom: 13px solid transparent;*/
/*  border-left: 10px solid #3a9d5d;*/
/*  border-top: 13px solid transparent;*/
/*  content: '';*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*}*/

.tag-success-after {
  border-bottom: 16px solid transparent;
  border-left: 10px solid var(--color-success);
  border-top: 16px solid transparent;
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
}

.tag-danger {
  background: var(--color-danger);
  border-radius: 3px 0 0 3px;
  font-weight: bold;
  color: white;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px 0 23px!important;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag-danger::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 13px;
}

.tag-danger-after {
  border-bottom: 16px solid transparent;
  border-left: 10px solid var(--color-danger);
  border-top: 16px solid transparent;
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
}

span.tag-readonly {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  margin: 10px;
}

span.tag-removable {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  margin: 10px;
}

span.tag-removable > i {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  top: -1px;
  right: -5px;
}

span.tag-removable.gray {
  background-color: #f3f4f7;
  border-color: #f3f4f7;
  color: #0a0a0d;
}

span.tag-removable.gray > i:hover {
  color: #f3f4f7;
  background-color: #0a0a0d;
}

span.tag-removable.info {
  background-color: #ecf5ff;
  border-color: #d9ecff;
  color: #409EFF;
}

span.tag-removable.info > i:hover {
  color: #FFF;
  background-color: #409EFF;
}

span.tag-removable.success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}

span.tag-removable.success > i:hover {
  color: #FFF;
  background-color: #67c23a;
}

span.tag-removable.warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;
}

span.tag-removable.warning > i:hover {
  color: #FFF;
  background-color: #e6a23c;
}

span.tag-removable.danger {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c;
}

span.tag-removable.danger > i:hover {
  color: #FFF;
  background-color: #f56c6c;
}