.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.bottom-sheet[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.bottom-sheet .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--overlay);
  opacity: 0.5;
}

.bottom-sheet .contents {
  border-radius: 1rem 1rem 0 0;

  background: var(--color-background);

  position: relative;
  overflow-y: hidden;

  --default-transitions: transform 0.5s, border-radius 0.5s;

  transition: var(--default-transitions);
  transform: translateY(0);

  max-height: 100vh;
  height: 30vh;

  max-width: 70rem;

  box-sizing: border-box;
  padding: 1rem;
  padding-top: 3rem;
}

.bottom-sheet .contents:not(.not-selectable) {
  transition: var(--default-transitions), height 0.5s;
}

.bottom-sheet .contents.fullscreen {
  border-radius: 0;
}

.bottom-sheet[aria-hidden="true"] .contents {
  transform: translateY(100%);
}

.bottom-sheet .draggable-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 3rem;
  margin: auto;
  padding: 1rem;
  cursor: grab;
}

.bottom-sheet .draggable-thumb {
  width: inherit;
  height: 0.25rem;
  background: var(--color-light);
  border-radius: 0.125rem;
}

.bottom-sheet .close-sheet {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

.bottom-sheet .body {
  height: 100%;
  overflow-y: auto;
  gap: 1rem;
}
