.bell{
  display:block;
  color: #db2828;
  font-size: 32px;
  -webkit-animation: ring 5s 1s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 5s 1s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 5s 1s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(30deg); }
  45% { transform: rotate(-28deg); }
  47% { transform: rotate(34deg); }
  49% { transform: rotate(-32deg); }
  51% { transform: rotate(30deg); }
  53% { transform: rotate(-28deg); }
  55% { transform: rotate(26deg); }
  57% { transform: rotate(-24deg); }
  59% { transform: rotate(22deg); }
  61% { transform: rotate(-20deg); }
  63% { transform: rotate(18deg); }
  65% { transform: rotate(-16deg); }
  67% { transform: rotate(14deg); }
  69% { transform: rotate(-12deg); }
  71% { transform: rotate(10deg); }
  73% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  77% { transform: rotate(-4deg); }
  79% { transform: rotate(2deg); }
  81% { transform: rotate(-1deg); }
  83% { transform: rotate(1deg); }
  85% { transform: rotate(30deg); }
  87% { transform: rotate(-28deg); }
  89% { transform: rotate(34deg); }
  91% { transform: rotate(-32deg); }
  93% { transform: rotate(30deg); }
  95% { transform: rotate(-28deg); }
  97% { transform: rotate(26deg); }
  99% { transform: rotate(-24deg); }
  100% { transform: rotate(0); }
}

@-moz-keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(30deg); }
  45% { transform: rotate(-28deg); }
  47% { transform: rotate(34deg); }
  49% { transform: rotate(-32deg); }
  51% { transform: rotate(30deg); }
  53% { transform: rotate(-28deg); }
  55% { transform: rotate(26deg); }
  57% { transform: rotate(-24deg); }
  59% { transform: rotate(22deg); }
  61% { transform: rotate(-20deg); }
  63% { transform: rotate(18deg); }
  65% { transform: rotate(-16deg); }
  67% { transform: rotate(14deg); }
  69% { transform: rotate(-12deg); }
  71% { transform: rotate(10deg); }
  73% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  77% { transform: rotate(-4deg); }
  79% { transform: rotate(2deg); }
  81% { transform: rotate(-1deg); }
  83% { transform: rotate(1deg); }
  85% { transform: rotate(30deg); }
  87% { transform: rotate(-28deg); }
  89% { transform: rotate(34deg); }
  91% { transform: rotate(-32deg); }
  93% { transform: rotate(30deg); }
  95% { transform: rotate(-28deg); }
  97% { transform: rotate(26deg); }
  99% { transform: rotate(-24deg); }
  100% { transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(30deg); }
  45% { transform: rotate(-28deg); }
  47% { transform: rotate(34deg); }
  49% { transform: rotate(-32deg); }
  51% { transform: rotate(30deg); }
  53% { transform: rotate(-28deg); }
  55% { transform: rotate(26deg); }
  57% { transform: rotate(-24deg); }
  59% { transform: rotate(22deg); }
  61% { transform: rotate(-20deg); }
  63% { transform: rotate(18deg); }
  65% { transform: rotate(-16deg); }
  67% { transform: rotate(14deg); }
  69% { transform: rotate(-12deg); }
  71% { transform: rotate(10deg); }
  73% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  77% { transform: rotate(-4deg); }
  79% { transform: rotate(2deg); }
  81% { transform: rotate(-1deg); }
  83% { transform: rotate(1deg); }
  85% { transform: rotate(30deg); }
  87% { transform: rotate(-28deg); }
  89% { transform: rotate(34deg); }
  91% { transform: rotate(-32deg); }
  93% { transform: rotate(30deg); }
  95% { transform: rotate(-28deg); }
  97% { transform: rotate(26deg); }
  99% { transform: rotate(-24deg); }
  100% { transform: rotate(0); }
}