
.calendar {
	width: 100%;
	height: 100%;
}

.calendar .title {
	font-size: 16px;
	font-weight: bold;
}

.calendar .weekdays {
	display: flex;
	justify-content: space-between;
}

.calendar .weekday {
	background: var(--color-divider);
	height: 48px;
	width: calc(100% / 7);
	line-height: 48px;
	text-align: center;
}

.calendar .dates {
	display: flex;
	flex-wrap: wrap;
}

.calendar .dates .date {
	height: 48px;
	line-height: 48px;
	width: calc(100% / 7);
	text-align: center;
}

.calendar .today {
	background: var(--color-primary);
	color: var(--color-white);
}