
.tab.left {
  white-space: nowrap;
  position: relative;
  float: left;
  z-index: 2;
  transition: transform 0.3s ease 0s;
}

.tab.left .tab-item {
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  position: relative;
  padding: 0px 20px;
  list-style: none;
}

.tab-item.active {
  color: var(--color-primary);
}

.nav-tabs .slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: left .25s;
}