.wizard {
  display: flex;
  padding-bottom: 6px;
  padding-top: 6px;
}

.wizard-step {
  flex: 1;
}

.wizard-dot {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wizard-connector-left, .wizard-connector-right {
  flex: 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.wizard-step:first-child .wizard-connector-left,
.wizard-step:last-child .wizard-connector-right {
  background-color: transparent;
}

.wizard-number {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-info);
  color: var(--color-light);
  border-radius: 9999px;
  height: 36px;
  width: 36px;

  /* OPTIONAL: Spacing between it and connectors */
  margin-left: 4px;
  margin-right: 4px;
}

.wizard-step-completed .wizard-number {
  background-color: var(--color-success);
  color: var(--color-light);
}