.bd-toc {
	order: 2;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: .875rem;
}

@supports (position: sticky) {
	.bd-toc {
		position: sticky;
		top: 4rem;
		max-height: calc(100vh - 4rem);
		overflow-y: auto;
	}
}

.section-nav {
	padding-left: 0;
	border-left: 1px solid #eee;
}

.section-nav ul {
	padding-left: 1rem;
}

.section-nav ul ul {
	display: none;
}

.toc-entry {
	display: block;
}

.toc-h3 {
  padding-left: 20px;
}

.toc-entry a {
	display: block;
	padding: .125rem 1.5rem;
	color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.toc-entry a:hover {
	color: #20a8d8;
	text-decoration: none;
}

.bd-sidebar {
	order: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-links {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: -15px;
	margin-left: -15px;
}

.bd-search {
	position: relative;
	padding: 1rem 15px;
	margin-right: -15px;
	margin-left: -15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bd-search .form-control:focus {
	border-color: blue;
}

.bd-search-docs-toggle {
	line-height: 1;
	color: gray;
}

.bd-sidenav {
	display: none;
}

.bd-toc-link {
	display: block;
	padding: .25rem 1.5rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.65);
}

.bd-toc-link:hover {
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
}

.bd-toc-item.active {
	margin-bottom: 1rem;
}

.bd-toc-item.active:not(:first-child) {
	margin-top: 1rem;
}

.bd-toc-item.active > .bd-toc-link {
	color: rgba(0, 0, 0, 0.85);
}

.bd-toc-item.active > .bd-toc-link:hover {
	background-color: transparent;
}

.bd-toc-item.active > .bd-sidenav {
	display: block;
}

.bd-sidebar .nav > li > a {
	display: block;
	padding: .25rem 1.5rem;
	font-size: 90%;
	color: rgba(0, 0, 0, 0.65);
}

.bd-sidebar .nav > li > a:hover {
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
	background-color: transparent;
}

.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
	background-color: transparent;
}